@font-face {
  font-family: "Estedad";
  src: url("./Estedad-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Estedad";
  src: url("./Estedad-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Estedad";
  src: url("./Estedad-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
body {
  font-family: "Anjoman" !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
label,
input,
textarea,
option,
select {
  font-family: "Estedad" !important;
}
